.navbar, .navbar-brand, .navbar-nav, .nav-item, .nav-link  {
    color: black !important;
}
.navbar-brand {
    padding-left: 70px;
    font-size: 1.8rem !important;
}
.navbar-nav {
    padding-right: 70px;
}
.nav-item {
    padding-right: 30px;
    font-size: 1.2rem;
}
.nav-item:hover, .nav-item:active {
    background-color: rgb(241, 216, 196) !important;
    border-radius: 15px;

}

.first-section {
    background-image: url(img/first-section-bg.png);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    padding: 20% 0 20% 0;
}
.text-content {
    text-align: right;
    color: white;
    text-transform: uppercase;
}
.line-dec {
    background-color: #ffffff;
    width: 60px;
    height: 3px;
    margin: 25px 0 25px auto;

}
.text-content > h1 {
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.text-content > p {
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: lighter; 
}

.second-section .container div {
    text-align: center;
    padding: 25px;
    margin: 40px 0 40px 0;
}
.second-section .container div > h5 {
    font-size: 1.1rem;
}
.second-section .container div > p {
    font-size: 0.9rem;
}
.second-section .container div > img {
    padding: 20px;
    margin: 10px;
}


.third-section {
    background-image: url(img/third-section-bg.png);
    padding: 20% 0;
    width: 100%;
    background-repeat: no-repeat;
}
.third-section img {
    overflow: hidden;
    max-width: 100%;
    display: inline;
}
.third-section .text-content {
    text-align: left; letter-spacing: 1px;
    display: inline;
}
.third-section .text-content h5 {
    font-size: 1.4rem !important;
    font-weight: normal;
}
.third-section .text-content h2 {
    font-size: 1.8rem !important;
    font-weight: bold;line-height: 15px;
}
.third-section .text-content p {
    font-size: .8rem !important;
    font-weight: lighter;
    line-height: 25px;
}


.forth-section {
    text-align: center;
    padding: 20% 0;
}
.forth-section .img img {
    height: 255px;
    width: 285px;
}
.forth-section .text {
    background-color: rgb(233, 219, 219);
    width: 285px;
    padding: 25px;
    text-align: left;
}




.fifth-section {
    background-image: url(img/fivth-section-bg.png);
    padding: 20% 0;
    width: 100%;
    background-repeat: no-repeat;
}
.fifth-section .img {
    display: inline;
}
.fifth-section img {
    overflow: hidden;
    max-width: 100%;
    text-align: center;
}

.fifth-section .text-content {
    text-align: right;
    display: inline;
}
.fifth-section .text-content h5 {
    font-size: 1.4rem !important;
    font-weight: normal;
}
.fifth-section .text-content h2 {
    font-size: 1.8rem !important;
    font-weight: bold;line-height: 15px;
}
.fifth-section .text-content p {
    font-size: .8rem !important;
    font-weight: lighter;
    line-height: 25px;
}



.sixth-section {
    background-image: url(img/sixth-section-bg.png);
    padding: 10% 0;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}
.sixth-section .form-group input {
    border-radius: 40px !important;
}
.sixth-section .form-group textarea {
    border-radius: 18px !important;
}
.sixth-section button {
    border-radius: 17px;
    text-transform: uppercase;
    font-size: 1rem;
}
.sixth-section .social-network {
    list-style: none;
    font-size: 30px;
}
.sixth-section .social-network i {
    width: 40px;
    line-height: 55px;
    color: #19356e;
}
.sixth-section .social-network span {
    padding: 20px;
    font-weight: lighter;
    font-size: 1.5rem;
    color: #22304d !important;
}

.footer {
    background-image: url(img/footer-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    padding: 10% 0 0 0;
}
.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.footer ul li {
    display: inline;
    margin: 0 6px !important;
}
.footer ul li a {
    font-size: 18px;
    color: #415b90;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
}
.footer ul li a:hover {
    background-color: #22304d;
    color: #415b90;
    transition: all 0.3s;
}
.footer p {
    color: #fff;
    text-align: center;
    line-height: 60px !important;
    font-weight: lighter;
}
